---
import BaseContainer from '@/components/layout/BaseContainer.astro'
---

<section class="uses">
  <BaseContainer>
    <article class="uses__container">
      <header class="uses-header">
        <h1 class="uses-header__heading">Uses</h1>
        <div class="uses-header__text">
          <p class="intro">The stuff I use on my day-to-day basis.</p>
        </div>
      </header>

      <div class="uses-body">
        <section>
          <h2>Hardware</h2>
          <dl>
            <div>
              <dt>Laptop</dt>
              <dd>Apple MacBook Pro 13" (2020)</dd>
            </div>

            <div>
              <dt>Monitor</dt>
              <dd>
                <a
                  href="https://www.dell.com/en-us/shop/dell-ultrasharp-27-4k-usb-c-hub-monitor-u2723qe/apd/210-bdpf/monitors-monitor-accessories"
                  target="_blank"
                >
                  Dell UltraSharp U2723QE
                </a>
              </dd>
            </div>

            <div>
              <dt>Monitor Light</dt>
              <dd>
                <a
                  href="https://www.benq.com/en-us/lighting/monitor-light/screenbar-halo.html"
                  target="_blank"
                >
                  BenQ ScreenBar Halo
                </a>
              </dd>
            </div>

            <div>
              <dt>Headphones</dt>
              <dd>Sennheiser Momentum M3</dd>
            </div>

            <div>
              <dt>Speakers</dt>
              <dd>
                <a
                  href="https://audioengine.com/shop/wirelessspeakers/a1-wireless-speaker-system/"
                  target="_blank"
                >
                  Audioengine A1 Wireless
                </a>
              </dd>
            </div>

            <div>
              <dt>Mouse</dt>
              <dd>Logitech MX Master 2S</dd>
            </div>
          </dl>
        </section>

        <section>
          <h2>Workspace</h2>
          <dl>
            <div>
              <dt>Chair</dt>
              <dd>
                <a
                  href="https://www.hermanmiller.com/products/seating/office-chairs/mirra-2-chairs/"
                  target="_blank"
                >
                  Herman Miller Mirra 2
                </a>
              </dd>
            </div>

            <div>
              <dt>Standing Desk</dt>
              <dd>
                <a
                  href="https://www.fully.com/en-eu/standing-desks/jarvis-adjustable-height-desk-bamboo.html"
                  target="_blank"
                >
                  Jarvis Bamboo
                </a>
              </dd>
            </div>

            <div>
              <dt>Desk Pad</dt>
              <dd>
                <a
                  href="https://grovemade.com/desk-pad-collection/"
                  target="_blank"
                >
                  Grovemade Wool Felt
                </a>
              </dd>
            </div>

            <div>
              <dt>Desk Shelf</dt>
              <dd>
                <a
                  href="https://grovemade.com/desk-shelf-system/"
                  target="_blank"
                >
                  Grovemade Walnut
                </a>
              </dd>
            </div>

            <div>
              <dt>Desk Tray</dt>
              <dd>
                <a
                  href="https://grovemade.com/product/desk-tray/"
                  target="_blank"
                >
                  Grovemade Tray
                </a>
              </dd>
            </div>
          </dl>
        </section>

        <section>
          <h2>Dev Tools</h2>
          <dl>
            <div>
              <dt>IDE</dt>
              <dd>
                <a href="https://code.visualstudio.com/" target="_blank">
                  Visual Studio Code
                </a>
              </dd>
            </div>

            <div>
              <dt>Font</dt>
              <dd>
                <a
                  href="https://janfromm.de/typefaces/camingodos-pro/"
                  target="_blank"
                >
                  CamingoCode
                </a>
              </dd>
            </div>

            <div>
              <dt>Terminal</dt>
              <dd>
                <a href="https://www.warp.dev/" target="_blank">Warp</a>
              </dd>
            </div>

            <div>
              <dt>Shell</dt>
              <dd>
                <a href="https://ohmyz.sh/" target="_blank">Zsh</a>
              </dd>
            </div>

            <div>
              <dt>Browser</dt>
              <dd>
                <a href="https://www.google.com/chrome/" target="_blank">
                  Chrome
                </a>
              </dd>
            </div>
          </dl>
        </section>

        <section>
          <h2>Productivity</h2>
          <dl>
            <div>
              <dt>Tasks / Notes</dt>
              <dd>
                <a href="https://www.notion.so/" target="_blank">Notion</a>
              </dd>
            </div>

            <div>
              <dt>Todo</dt>
              <dd>
                <a href="https://todo.microsoft.com/" target="_blank"
                  >Microsoft To Do</a
                >
              </dd>
            </div>

            <div>
              <dt>Time Tracker</dt>
              <dd>
                <a href="https://flowapp.info/" target="_blank">Flow</a>
              </dd>
            </div>

            <div>
              <dt>Launcher</dt>
              <dd>
                <a href="https://www.raycast.com/" target="_blank">Raycast</a>
              </dd>
            </div>
          </dl>
        </section>
      </div>

      <footer class="uses-footer">
        <!-- prettier-ignore -->
        <small class="uses-footer__footnote">
          * Inspired by <a href="https://wesbos.com/" target="_blank">Wes Bos</a> and his cool project&nbsp;-
          <a href="https://uses.tech/" target="_blank">https://uses.tech/</a>
        </small>
      </footer>
    </article>
  </BaseContainer>
</section>

<style lang="scss">
  .uses {
    margin-bottom: var(--section-padding-y-sm);
  }

  .uses-header {
    margin-bottom: toRem(24px);

    @include mq($from: md) {
      margin-bottom: toRem(48px);
    }

    &__heading {
      @include heading-level-2;
      margin-top: 0;
      margin-bottom: toRem(12px);

      @include mq($from: lg) {
        font-size: toRem(50px);
      }
    }

    &__text {
      & > .intro {
        margin-top: 0;
        margin-bottom: 0;
        font-size: toRem(19px);
        line-height: 1.7;

        @include mq($from: md) {
          font-size: toRem(22px);
        }
      }
    }
  }

  .uses-body {
    display: grid;
    gap: toRem(24px);
    margin-bottom: toRem(24px);
    margin-left: calc(var(--grid-padding) * -1);
    margin-right: calc(var(--grid-padding) * -1);

    @include mq($from: sm) {
      margin-left: 0;
      margin-right: 0;
    }

    @include mq($from: md) {
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(32px);
      margin-bottom: toRem(48px);
    }

    @include mq($from: lg) {
      gap: toRem(48px);
    }

    section {
      @include margin-trim;
      padding: toRem(24px);
      background-color: hsl(
        var(--orange-h) var(--orange-s) var(--orange-l) / 10%
      );

      @include mq($from: sm) {
        border-radius: toRem(16px);
      }

      @include mq($from: md) {
        padding: toRem(32px);
      }

      @include mq($from: lg) {
        padding: toRem(48px);
        border-radius: toRem(16px);
      }
    }

    h2 {
      font-size: toRem(20px);
      line-height: 1.2;

      @include mq($from: md) {
        font-size: toRem(20px);
      }
    }

    dl {
      margin-top: 0;
      margin-bottom: 0;

      div {
        margin-bottom: toRem(8px);

        &:last-child {
          margin-bottom: 0;
        }
      }

      dt {
        display: inline;
        font-weight: 500;

        &::after {
          content: ' - ';
          font-weight: 400;
        }
      }

      dd {
        display: inline;
        margin-left: 0;

        a {
          @include link;
        }
      }
    }
  }

  .uses-footer {
    &__footnote {
      @include margin-trim;
      font-size: toRem(16px);
      font-style: italic;

      a {
        @include link;
      }
    }
  }
</style>
