---
import BaseContainer from '@/components/layout/BaseContainer.astro'
---

<section class="tech">
  <BaseContainer>
    <article class="tech__container">
      <header class="tech-header">
        <h1 class="tech-header__heading">Tech Stack</h1>
        <div class="tech-header__text">
          <p class="intro">The set of tools under the hood of this website.</p>
        </div>
      </header>

      <div class="tech-body">
        <section>
          <dl>
            <div>
              <dt>Designed in</dt>
              <dd>
                <a href="https://www.figma.com/" target="_blank">Figma</a>
              </dd>
            </div>

            <div>
              <dt>Hosted on</dt>
              <dd>
                <a href="https://www.netlify.com/" target="_blank">Netlify</a>
              </dd>
            </div>

            <div>
              <dt>Built with</dt>
              <dd>
                <a href="https://astro.build/" target="_blank">Astro 🚀</a>
              </dd>
            </div>

            <div>
              <dt>Source Code</dt>
              <dd>
                <a
                  href="https://github.com/andrei-hudovich/hudovich.dev"
                  target="_blank"
                >
                  GitHub
                </a>
              </dd>
            </div>
          </dl>
        </section>
      </div>
    </article>
  </BaseContainer>
</section>

<style lang="scss">
  .tech {
    margin-bottom: var(--section-padding-y-sm);
  }

  .tech-header {
    margin-bottom: toRem(24px);

    @include mq($from: md) {
      margin-bottom: toRem(48px);
    }

    &__heading {
      @include heading-level-2;
      margin-top: 0;
      margin-bottom: toRem(12px);

      @include mq($from: lg) {
        font-size: toRem(50px);
      }
    }

    &__text {
      & > .intro {
        margin-top: 0;
        margin-bottom: 0;
        font-size: toRem(19px);
        line-height: 1.7;

        @include mq($from: md) {
          font-size: toRem(22px);
        }
      }
    }
  }

  .tech-body {
    margin-left: calc(var(--grid-padding) * -1);
    margin-right: calc(var(--grid-padding) * -1);

    @include mq($from: sm) {
      margin-left: 0;
      margin-right: 0;
    }

    section {
      @include margin-trim;
      padding: toRem(24px);
      background-color: hsl(
        var(--orange-h) var(--orange-s) var(--orange-l) / 10%
      );

      @include mq($from: sm) {
        border-radius: toRem(16px);
      }

      @include mq($from: md) {
        padding: toRem(32px);
      }

      @include mq($from: lg) {
        padding: toRem(48px);
        border-radius: toRem(16px);
      }
    }

    dl {
      margin-top: 0;
      margin-bottom: 0;

      div {
        margin-bottom: toRem(8px);

        &:last-child {
          margin-bottom: 0;
        }
      }

      dt {
        display: inline;
        font-weight: 500;

        &::after {
          content: ' - ';
          font-weight: 400;
        }
      }

      dd {
        display: inline;
        margin-left: 0;

        a {
          @include link;
        }
      }
    }
  }
</style>
