---
interface Props {
  class?: string
  fluid?: boolean
}

const { class: className, fluid = false } = Astro.props
---

<div class:list={['container', { 'container--fluid': fluid }, className]}>
  <slot />
</div>

<style lang="scss">
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--grid-padding);
    padding-right: var(--grid-padding);
    width: 100%;
    max-width: toRem(1120px);

    &--fluid {
      max-width: none;
    }
  }
</style>
