---
import Metadata from '@/enums/Metadata.enums'
import navLinks from '@/data/navLinks'
import BaseContainer from '@/components/layout/BaseContainer.astro'
import IconBrandsTwitter from '@/components/icons/IconBrandsTwitter.astro'
import IconBrandsGithub from '@/components/icons/IconBrandsGithub.astro'
import IconSolidBars from '@/components/icons/IconSolidBars.astro'
import BaseLogo from '@/components/ui/BaseLogo.astro'
---

<header class="header">
  <BaseContainer class="header__container" fluid>
    <a class="header__logo" href="/" aria-label="Home page">
      <BaseLogo />
    </a>

    <nav class="nav">
      <div class="nav__container">
        <ul class="nav__list">
          {
            navLinks.header.map((item) => (
              <li class="nav__item">
                <a class="nav__link" href={item.href}>
                  {item.label}
                </a>
              </li>
            ))
          }
        </ul>

        <ul class="nav-meta">
          <li class="nav-meta__item">
            <a
              class="nav-meta__link"
              href={Metadata.TWITTER_URL}
              target="_blank"
              aria-label="Twitter"
            >
              <span class="nav-meta__icon nav-meta__icon--twitter">
                <IconBrandsTwitter />
              </span>
            </a>
          </li>

          <li class="nav-meta__item">
            <a
              class="nav-meta__link"
              href={Metadata.GITHUB_URL}
              target="_blank"
              aria-label="Github"
            >
              <span class="nav-meta__icon nav-meta__icon--github">
                <IconBrandsGithub />
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <button class="header__hamburger-btn" type="button" aria-label="Navigation">
      <IconSolidBars />
    </button>
  </BaseContainer>
</header>

<style lang="scss">
  .header {
    margin-bottom: var(--section-padding-y-sm);

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: toRem(80px);

      @include mq($from: md) {
        height: toRem(100px);
      }
    }

    &__logo {
      flex-shrink: 0;
    }

    &__hamburger-btn {
      position: relative;
      z-index: calc(var(--mobile-nav-z-index) + 1);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: calc((toRem(36px) - toRem(26px)) / 2 * -1);
      padding: 0;
      width: toRem(36px);
      height: toRem(36px);
      border: 0;
      background-color: transparent;
      cursor: pointer;

      @include mq($from: md) {
        display: none;
      }

      :global(svg) {
        display: block;
        width: toRem(33px);
        height: toRem(29px);
        fill: var(--blue-color);
      }
    }
  }

  .nav {
    position: fixed;
    inset: 0;
    z-index: var(--mobile-nav-z-index);
    visibility: hidden;
    display: grid;
    overflow: auto;
    padding-top: toRem(64px);
    padding-bottom: toRem(64px);
    background-color: var(--orange-color);

    &.js-open {
      visibility: visible;
    }

    @include mq($from: md) {
      position: static;
      visibility: visible;
      display: block;
      overflow: visible;
      padding-top: 0;
      padding-bottom: 0;
      background-color: transparent;
    }

    &__container {
      margin-top: auto;
      margin-bottom: auto;

      @include mq($from: md) {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: toRem(32px);
      margin-top: 0;
      margin-bottom: toRem(48px);
      padding-left: 0;
      list-style-type: none;

      @include mq($from: md) {
        flex-direction: row;
        gap: toRem(48px);
        margin-bottom: 0;
        margin-right: toRem(48px);
      }
    }

    &__link {
      display: block;
      padding-top: calc(toRem(3px) + 1px);
      padding-bottom: 1px;
      color: var(--blue-color);
      border-bottom: toRem(3px) solid transparent;
      font-size: toRem(24px);
      font-weight: 700;
      line-height: 1.2;
      text-decoration: none;
      text-transform: uppercase;
      transition: border-bottom-color 150ms ease;

      &:hover {
        border-bottom-color: var(--orange-color);
      }

      @include mq($from: md) {
        font-size: toRem(16px);
      }
    }
  }

  .nav-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: toRem(24px);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    @include mq($from: md) {
      gap: toRem(20px);
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: toRem(36px);
      height: toRem(36px);

      @include mq($from: md) {
        width: auto;
        height: auto;
      }
    }

    &__icon {
      display: block;

      :global(svg) {
        display: block;
        fill: var(--blue-color);
      }

      &--twitter {
        :global(svg) {
          width: toRem(33px);
          height: toRem(27px);

          @include mq($from: md) {
            width: toRem(28px);
            height: toRem(23px);
          }
        }
      }

      &--github {
        :global(svg) {
          width: toRem(27px);
          height: toRem(27px);

          @include mq($from: md) {
            width: toRem(22px);
            height: toRem(22px);
          }
        }
      }
    }
  }
</style>

<script>
  import { disableBodyScroll, enableBodyScroll } from 'body-scroll-lock'

  if (document.querySelector('.footer')) {
    const hamburgerBtnEl = document.querySelector(
      '.header__hamburger-btn'
    ) as HTMLButtonElement
    const navEl = document.querySelector('.nav') as HTMLElement

    hamburgerBtnEl.addEventListener('click', toggleNavigation)

    function toggleNavigation() {
      if (!navEl.classList.contains('js-open')) {
        disableBodyScroll(navEl)
        navEl.classList.add('js-open')
      } else {
        enableBodyScroll(navEl)
        navEl.classList.remove('js-open')
      }
    }
  }
</script>
