@use '@/assets/styles/utilities/_functions.scss' as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#__nuxt {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: var(--blue-color);
  background-color: var(--page-bg-color);
  font-family: var(--base-font-family);
  font-size: toRem(18px);
  line-height: 1.5;
}
