---
import PageLayout from '@/layouts/PageLayout.astro'
import BaseContainer from '@/components/layout/BaseContainer.astro'
import BaseButton from '@/components/ui/BaseButton.astro'
---

<PageLayout title="Page Not Found - Andrei Hudovich">
  <section class="not-found">
    <BaseContainer>
      <figure class="not-found__illustration">
        <img src="/images/404.svg" alt="404 Not Found" />
      </figure>

      <h1 class="not-found__heading">
        Ooops!<br />Page Not Found
      </h1>

      <p class="not-found__text">
        Sorry, the page you are looking for doesn&apos;t exist :(
      </p>

      <BaseButton class="not-found__btn" href="/">Back to Home</BaseButton>
    </BaseContainer>
  </section>
</PageLayout>

<style lang="scss">
  .not-found {
    margin-bottom: var(--section-padding-y-sm);

    &__illustration {
      display: block;
      margin: 0;
      margin-bottom: toRem(32px);
      width: 100%;
      max-width: toRem(280px);

      & > img {
        display: block;
        max-width: 100%;
      }

      @include mq($from: lg) {
        max-width: toRem(320px);
      }
    }

    &__heading {
      @include heading-level-2;
      margin-top: 0;
      margin-bottom: toRem(12px);

      @include mq($from: lg) {
        font-size: toRem(50px);
      }
    }

    &__text {
      margin-top: 0;
      margin-bottom: toRem(24px);
      font-size: toRem(19px);
      line-height: 1.7;

      @include mq($from: lg) {
        font-size: toRem(22px);
      }
    }

    &__btn {
      width: toRem(220px);
      height: toRem(64px);
    }
  }
</style>
