---
import BaseContainer from '@/components/layout/BaseContainer.astro'
import BaseSectionHeader from '@/components/ui/BaseSectionHeader.astro'
import IconLogoJavascript from '@/components/icons/IconLogoJavascript.astro'
import IconLogoVue from '@/components/icons/IconLogoVue.astro'
import IconLogoNuxt from '@/components/icons/IconLogoNuxt.astro'
import IconLogoAstro from '@/components/icons/IconLogoAstro.astro'
import IconLogoHTML from '@/components/icons/IconLogoHTML.astro'
import IconLogoCSS from '@/components/icons/IconLogoCSS.astro'
import IconLogoSass from '@/components/icons/IconLogoSass.astro'
import IconLogoTailwind from '@/components/icons/IconLogoTailwind.astro'
import IconLogoVite from '@/components/icons/IconLogoVite.astro'
import IconLogoNpm from '@/components/icons/IconLogoNpm.astro'
import IconLogoVitest from '@/components/icons/IconLogoVitest.astro'
import IconLogoPlaywright from '@/components/icons/IconLogoPlaywright.astro'
import IconLogoGit from '@/components/icons/IconLogoGit.astro'
import IconLogoGithub from '@/components/icons/IconLogoGithub.astro'
import IconLogoFigma from '@/components/icons/IconLogoFigma.astro'
import IconLogoSketch from '@/components/icons/IconLogoSketch.astro'
---

<section class="section">
  <BaseContainer>
    <BaseSectionHeader class="section__header">
      <Fragment slot="heading">Skills</Fragment>
      <Fragment slot="intro">
        <p>
          I'm a great enthusiast of latest technologies and tools. Being on the
          cutting edge of modern development trends is extremely important to
          me. I&nbsp;constantly gain new skills by reading books, watching
          courses, attending conferences and following top developers.
        </p>
      </Fragment>
    </BaseSectionHeader>

    <div class="section__body">
      <article class="section-card">
        <div class="section-card__logos">
          <div class="section-card__icon section-card__icon--js">
            <IconLogoJavascript />
          </div>
        </div>

        <h3 class="section-card__heading">Javascript / Typescript</h3>

        <p class="section-card__description">
          By default, I start all new projects with TS. Having a fully typed app
          helps keep it less error-prone.
        </p>
      </article>

      <article class="section-card">
        <div class="section-card__logos">
          <div class="section-card__icon section-card__icon--vue">
            <IconLogoVue />
          </div>

          <div class="section-card__icon section-card__icon--nuxt">
            <IconLogoNuxt />
          </div>

          <div class="section-card__icon section-card__icon--astro">
            <IconLogoAstro />
          </div>
        </div>

        <h3 class="section-card__heading">Vue + Nuxt / Astro</h3>

        <p class="section-card__description">
          SPA, SSR, SSG or Universal Rendering? I'll get you covered with the
          best option available.
        </p>
      </article>

      <article class="section-card">
        <div class="section-card__logos">
          <div class="section-card__icon section-card__icon--html">
            <IconLogoHTML />
          </div>

          <div class="section-card__icon section-card__icon--css">
            <IconLogoCSS />
          </div>
        </div>

        <h3 class="section-card__heading">HTML & CSS</h3>

        <p class="section-card__description">
          Those two are my old friends, I started my career by converting
          designs to HTML & CSS.
        </p>
      </article>

      <article class="section-card">
        <div class="section-card__logos">
          <div class="section-card__icon section-card__icon--sass">
            <IconLogoSass />
          </div>
        </div>

        <h3 class="section-card__heading">Sass & PostCSS</h3>

        <p class="section-card__description">
          When working on stylesheets, using pre- and post-processor allows me
          to be as productive as possible.
        </p>
      </article>

      <article class="section-card">
        <div class="section-card__logos">
          <div class="section-card__icon section-card__icon--tailwind">
            <IconLogoTailwind />
          </div>
        </div>

        <h3 class="section-card__heading">Tailwind</h3>

        <p class="section-card__description">
          The rise of utility frameworks has made me stick to the trends, but
          I'm not a big fan of them in general.
        </p>
      </article>

      <article class="section-card">
        <div class="section-card__logos">
          <div class="section-card__icon section-card__icon--vite">
            <IconLogoVite />
          </div>

          <div class="section-card__icon section-card__icon--npm">
            <IconLogoNpm />
          </div>
        </div>

        <h3 class="section-card__heading">Vite / npm</h3>

        <p class="section-card__description">
          Since the early days when Vite was released, it has been my go-to tool
          for every project.
        </p>
      </article>

      <article class="section-card">
        <div class="section-card__logos">
          <div class="section-card__icon section-card__icon--vitest">
            <IconLogoVitest />
          </div>

          <div class="section-card__icon section-card__icon--playwright">
            <IconLogoPlaywright />
          </div>
        </div>

        <h3 class="section-card__heading">Vitest & Playwright</h3>

        <p class="section-card__description">
          Testing is the most crucial part of any development process. I prefer
          to use the best-in-class tools.
        </p>
      </article>

      <article class="section-card">
        <div class="section-card__logos">
          <div class="section-card__icon section-card__icon--git">
            <IconLogoGit />
          </div>

          <div class="section-card__icon section-card__icon--github">
            <IconLogoGithub />
          </div>
        </div>

        <h3 class="section-card__heading">Git & GitHub</h3>

        <p class="section-card__description">
          Git workflows and tools like husky, lint-staged, and conventional
          commits are what I have mastered.
        </p>
      </article>

      <article class="section-card">
        <div class="section-card__logos">
          <div class="section-card__icon section-card__icon--figma">
            <IconLogoFigma />
          </div>

          <div class="section-card__icon section-card__icon--sketch">
            <IconLogoSketch />
          </div>
        </div>

        <h3 class="section-card__heading">Figma / Sketch</h3>

        <p class="section-card__description">
          During my career path, I worked with numerous design files, so I am
          comfortable with any environment.
        </p>
      </article>
    </div>
  </BaseContainer>
</section>

<style lang="scss">
  .section {
    margin-bottom: var(--section-padding-y-md);

    &__header {
      max-width: toRem(850px);
    }

    &__body {
      display: grid;
      gap: toRem(40px);

      @include mq($from: sm) {
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(48px) toRem(24px);
      }

      @include mq($from: md) {
        gap: toRem(48px);
      }

      @include mq($from: container) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .section-card {
    &__logos {
      display: flex;
      align-items: center;
      gap: toRem(12px);
      margin-bottom: toRem(4px);
      height: toRem(48px);
    }

    &__icon {
      &--js {
        :global(svg) {
          width: toRem(34px);
          height: toRem(34px);
        }
      }

      &--vue {
        :global(svg) {
          width: toRem(32px);
          height: toRem(28px);
        }
      }

      &--nuxt {
        :global(svg) {
          margin-left: toRem(-4px);
          width: toRem(34px);
          height: toRem(28px);
        }
      }

      &--astro {
        :global(svg) {
          transform: translateY(toRem(3px));
          margin-left: toRem(-4px);
          width: toRem(34px);
          height: toRem(48px);
        }
      }

      &--html {
        :global(svg) {
          width: toRem(30px);
          height: toRem(34px);
        }
      }

      &--css {
        :global(svg) {
          width: toRem(30px);
          height: toRem(34px);
        }
      }

      &--sass {
        :global(svg) {
          width: toRem(46px);
          height: toRem(34px);
        }
      }

      &--tailwind {
        :global(svg) {
          width: toRem(44px);
          height: toRem(27px);
        }
      }

      &--vite {
        :global(svg) {
          width: toRem(33px);
          height: toRem(33px);
        }
      }

      &--npm {
        :global(svg) {
          transform: translateY(toRem(2px));
          width: toRem(50px);
          height: toRem(20px);
        }
      }

      &--vitest {
        :global(svg) {
          width: toRem(35px);
          height: toRem(32px);
        }
      }

      &--playwright {
        :global(svg) {
          width: toRem(37px);
          height: toRem(28px);
        }
      }

      &--git {
        :global(svg) {
          width: toRem(33px);
          height: toRem(33px);
        }
      }

      &--github {
        :global(svg) {
          width: toRem(32px);
          height: toRem(32px);
        }
      }

      &--figma {
        :global(svg) {
          width: toRem(20px);
          height: toRem(29px);
        }
      }

      &--sketch {
        :global(svg) {
          width: toRem(32px);
          height: toRem(30px);
        }
      }
    }

    &__heading {
      margin-top: 0;
      margin-bottom: toRem(4px);
      font-size: toRem(20px);
      font-weight: 700;
    }

    &__description {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.7;
    }
  }
</style>
