<div class="logo">
  <svg
    class="logo__icon"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 67 24"
  >
    <path
      class="logo__lines"
      d="M11.04 0 4.58 24H0L6.46 0h4.58ZM22.4 0l-6.46 24h-4.581l6.46-24h4.58Z"
    ></path>
    <path
      class="logo__letters"
      d="M32.259 22h-5.86l6.602-20h7.422l6.602 20h-5.86L36.79 7.508h-.156L32.259 22Zm-1.094-7.89h11.016v4.062H31.165v-4.063ZM48.95 22V2h5.43v7.813h7.188V2h5.43v20h-5.43v-7.813h-7.187V22h-5.43Z"
    ></path>
  </svg>
</div>

<style lang="scss">
  .logo {
    &__icon {
      display: block;
      width: toRem(67px);
      height: toRem(24px);
    }

    &__lines {
      fill: var(--orange-color);
    }

    &__letters {
      fill: var(--blue-color);
    }
  }
</style>
